h1 {
    display: none;
}
.show__inner {
    width: 1000px;
    margin: 60px auto;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.breadcrumb li:not(:last-of-type)::after {
    content: "›";
    margin: 0 .6em;
    /* 記号の左右の余白 */
    color: #777;
    /* 記号の色 */
}

.breadcrumb a {
    text-decoration: none;
    color: #68d2f5;
}

.show-group {
    display: flex;
    justify-content: flex-start;
    color: #9b9b9b;
}

.show__image {
    width: 50%;
}

.show__image>img {
    max-width: 90%;
}

.show__info-title {
    font-size: 18px;
    margin-top: 0;
}

.show__info-input {
    width: 500px;
    height: 50px;
    margin-bottom: 20px;
    color: #b5b4b4;
    font-size: 16px;
}

.show__input--checkbox{
    font-size: 20px;
    margin-right: 16px;
}

.show-checkbox {
    transform: scale(1.2);
    border-radius: 5px;
    margin-right: 4px;

}

.show__input--checkbox label{
    margin-right: 16px;
}

.show__description {
    margin-top: 40px;
}
.description-box {
    width: 100%;
    height: 180px;
}